@import "reset.scss";

$bg-color: black;
$text-color: white;

body {
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  justify-content: center;
}

.main {
  width: 960px;
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
}
