{% extends "base.html" %} {% block content %}

<div class="index">
  <header class="header">
    <nav>
      <div class="profile-img">
        {% set image = resize_image(path="profile_img.jpg", width=100,
        height=100) %}
        <img src="{{image.url}}" alt="myself" />
      </div>
    </nav>
  </header>

  <main class="main">
    <h1 class="title">{{ section.title }}</h1>
    <ul>
      {% for page in section.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </main>
</div>
{% endblock content %}
